{% extends "base.html" %}
{% block body %}
      <div id="features">
        <div class="container text-center my-5 py-5">
          <span class=" font-weight-bold" style="font-size:1.5em;text-decoration:underline;">
           <span style="font-size:2em; color: #214da6;">Features </span>
          </span>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <img class="img-fluid" src="static/images/visual.png" />
            </div>
            <div class="col-md-6 col-lg-5 ml-auto d-flex align-items-center mt-4 mt-md-0">
              <div>
                <h1>Visual Analysis:</h1>
                <p>
                <ul>
                <li><h3>Facial Expressions:</h3>(Happy, Sad, Angry, Disgust and Fear)</li>
                <li><h3>Posture </h3></li>
                <li><h3>Smile Index</h3></li>
                </ul>
                </p>
              </div>
            </div>
        </div>

        <div class="container">
          <div class="row" >
            <div class="col-md-6 col-lg-5 ml-auto d-flex align-items-center mt-4 mt-md-0">
            <div>  
              <h1>Vocal Analysis:</h1>
                <p>
                <ul>
                  <li><h3>Tone Expressions</h3></li>
                  <li><h3>Pitch Variance </h3></li>
                  <li><h3>Speech Rate</h3></li>
                  <li><h3>Confidence</h3></li>
                </ul>
                </p>
            </div>
            </div>
            <div class="col-md-6">
              <img class="img-fluid" src="static/images/visual.png" />
            </div>
          </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <img class="img-fluid" src="static/images/visual.png" />
            </div>
            <div class="col-md-6 col-lg-5 ml-auto d-flex align-items-center mt-4 mt-md-0">  
              <div>
              <h1>Verbal Analysis:</h1>
              <p>
                <ul>
                <li><h3>Sentiment of words</h3></li>
                <li><h3>Positive words </h3></li>
                <li><h3>Negative words</h3></li>
                <li><h3>Neutral words</h3></li>
              </ul>
            </p>
            </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}