{% extends "base.html" %}
{% block body %}
  

    <div id="lackofarea">
      <div class="container text-center my-5 py-5">
            <span class=" font-weight-bold" style="font-size:1.5em;text-decoration:underline;">
             <span style="font-size:2em; color: #214da6;">Lack of Areas </span></div>
            </span>
        
          <div class="container">
          <div class="card-deck">
              <div class="card">
                <img src="static/images/facialexp.png" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-center" style="font-weight: bold;">Facial Expressions</h5>
                </div>
              </div>
              <div class="card">
                <img src="static/images/confidence.png" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-center" style="font-weight: bold;">Confidence Level</h5>
                </div>
              </div>
              <div class="card">
                <img src="static/images/speechrate.png" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-center" style="font-weight: bold;">Speech Rate</h5>
                </div>
              </div>
            </div>
          </div>
          <br>
            <div class="container">
              <div class="card-deck">
                <div class="card" style=>
                  <img src="static/images/sentiment.png" class="card-img-top img-fluid" alt="...">
                  <div class="card-body">
                    <h5 class="card-title text-center" style="font-weight: bold;">Sentiment of words</h5>
                  </div>
                </div>
                <div class="card" >
                  <img src="static/images/toneexp.png" class="card-img-top img-fluid" alt="...">
                  <div class="card-body">
                    <h5 class="card-title text-center" style="font-weight: bold;">Tone Expressions</h5>
                  </div>
                </div>
                <div class="card ">
                  <img src="static/images/bodyposture.png" class="card-img-top img-fluid" alt="...">
                  <div class="card-body">
                    <h5 class="card-title text-center" style="font-weight: bold;">Body Posture</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    <br>
    <br>

      <div id="vision">
      <div class="jumbotron">
        <div class="row">
          <div class="col">
            <h1 class="text-center">Vision</h1>
            <h5>We believe that we are to simplify the learning process in education using AI</h5>
          </div>
          <div class="col">
            <h1 class="text-center">Mission</h1>
            <h5>To improve the interview preparation with AI for students by December 2020</h5>

          </div>
        </div>
      </div>
    </div>


    <div id="howwedoing">
      <div class="container text-center my-5 py-5">
            <span class=" font-weight-bold" style="font-size:1.5em;text-decoration:underline;">
             <span style="font-size:2em; color: #214da6;">How we are doing</span></div>
            </span>
        </div>
        <div class="container">
              <div class="card-deck">
                <div class="card" style=>
                  <img src="static/images/verbal.png" class="card-img-top img-fluid" alt="...">
                  <div class="card-body">
                    <h5 class="card-title text-center" style="font-weight: bold;">Verbal, Vocal and Visual</h5>
                  </div>
                </div>
                <div class="card" >
                  <img src="static/images/visual.png" class="card-img-top img-fluid" alt="...">
                  <div class="card-body">
                    <h5 class="card-title text-center" style="font-weight: bold;">Self-Evaluation</h5>
                  </div>
                </div>
                <div class="card ">
                  <img src="static/images/visual.png" class="card-img-top img-fluid" alt="...">
                  <div class="card-body">
                    <h5 class="card-title text-center" style="font-weight: bold;">No need of Personality Trainer</h5>
                  </div>
                </div>
              </div>
          </div>
        </div>
    </div>

    <div id="howwearehelping">
      <div class="container text-center my-5 py-5">
            <span class=" font-weight-bold" style="font-size:1.5em;text-decoration:underline;">
             <span style="font-size:2em; color: #214da6;">How we are helping</span></div>
            </span>
        </div>
        <div class="container">
              <div class="card-deck">
                <div class="card" style=>
                  <img src="static/images/verbal.png" class="card-img-top img-fluid" alt="...">
                  <div class="card-body">
                    <h5 class="card-title text-center" style="font-weight: bold;">Bio-Feedback</h5>
                  </div>
                </div>
                <div class="card" >
                  <img src="static/images/visual.png" class="card-img-top img-fluid" alt="...">
                  <div class="card-body">
                    <h5 class="card-title text-center" style="font-weight: bold;">Facial Feedback Hypothesis</h5>
                  </div>
                </div>
                <div class="card ">
                  <img src="static/images/visual.png" class="card-img-top img-fluid" alt="...">
                  <div class="card-body">
                    <h5 class="card-title text-center" style="font-weight: bold;">Peripheral Feedback Hypothesis</h5>
                  </div>
                </div>
              </div>
          </div>
        </div>
    </div>

    

    <div id="app">
        <div class="container text-center">

            <span class=" font-weight-bold" style="font-size:1.5em;text-decoration:underline;">
             <span style="font-size:2em; color: #214da6;">Launching Soon </span></div>
            </span>
        </div>

        <div class="container container my-5 py-5">
            <div class="row justify-content-md-center mb-5">
                <div class="form-group col-sm">
                    <h5 class="text-center" style="font-weight: bold;">Android</h5>
                    <br>
                    <img src="static/images/playstore.png" style="width:30%;" alt="android" class="img-fluid rounded mx-auto d-block"> 
                </div>
                <div class="form-group col-sm">
                    <h5 class="text-center" style="font-weight: bold;">IOS</h5>
                    <br>
                    <img src="static/images/app.png" style="width:30%;" alt="apple" class="img-fluid rounded mx-auto d-block"> 
                </div>
            </div>
        </div>
    </div>
{% endblock %}