
{% extends "base.html" %}
{% block body %}
      <div class="container">
        <div id="tryit">
            <div class="container text-center">
                <span class=" font-weight-bold" style="font-size:1.5em;text-decoration:underline;">
                 <span style="font-size:2em; color: #214da6;">Lets try and see your skills </span></div>
                </span>
            </div>
          <div class="row my-5 py-5">
            <div class="col">
              <form action="{{ url_for('upload') }}" id="upload-file" method="post" enctype="multipart/form-data">
                <label for="videoUpload" class="upload-label">
                    <h3>Upload a video file here</h3>
                </label>
                <input type="file" name="file" id="videoUpload" required="True">
                <br> 
                <br>
                <input type="submit" class="btn btn-primary btn-lg" value="Submit"> 
              </form>
            </div>
            <div class="col">
                <h2 class="text-center">OR</h2>
            </div>
            <div class="col">
              <form action="{{ url_for('upload') }}" method="post" >
                <label for="capture" class="upload-label">
                    <h3>Record a video for analysis</h3>
                </label>
                <br>
                <br>
                <br>
                <input type="submit" id="capture" class="btn btn-primary btn-lg" value="Capture video"> 
              </form>
            </div>
          </div>
        </div>
      </div>
{% endblock %}